.modal_container {
  position: fixed;
  top: 1.75rem;
  left: 0;
  right: 0;
  z-index: 50;
  margin: 5rem auto;
  width: 100%;
  max-width: 70vw;
  overflow-y: scroll;
  border-radius: 0.375rem;
  scrollbar-width: none;
  border: 1px solid #181818;
}

.modal_container::-webkit-scrollbar {
  display: none;
}

.modal_container_close_button {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  z-index: 40;
  height: 2.25rem;
  width: 2.25rem;
  border: none;
  border-radius: 50%;
  background-color: #181818;
}

.modal_container_close_button:hover {
  background-color: rgba(24, 24, 24, 0.82);
}

.modal_container_player {
  position: relative;
  padding-top: 56.25%;
  border: 1.5px solid #181818;
  //padding-top: 20%;
}

.modalButton, .modalButton_Close {
  cursor: pointer;
  display: flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-width: 2px;
  border-color: gray;
  background-color: rgba(42, 42, 42, 0.9);
  transition: all 0.15s ease-in-out;
  margin-right: 1rem;
}

.modalButton_Close {
  position: absolute;
  right: 1.25rem;
  top: 3.25rem;
  z-index: 40;
}

.modalButton:hover,
.modalButton_Close:hover {
  border-color: white;
  background-color: rgba(81, 81, 81, 0.65)
}

.modalButton_list {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}

.modal_buttons_container {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.modal_description_container {

}

.modal_container_info {
  display: flex;
  align-items: center;
  margin-left: 2.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  gap: 0.75rem;
}

.modal_container_rating {
  font-weight: 600;
  font-size: 0.875rem;
  color: #68D391;
}

.modal_container_date {
  font-weight: 300;
}

.modal_container_icon {
  display: flex;
  height: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.4);
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  font-size: 0.75rem;
}

.modal_container_description_container {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  max-width: 200px;
}

.modal_container_sasdas {
  padding-right: 2.5rem;
}

.modal_container_movie_title {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
}

.modal_container_inner {
  width: 83.3333%; /* Adjust the value as per your requirement */
}

.modal_container_info_main {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem; /* Adjust the value as per your requirement */
  margin-top: 1rem; /* Adjust the value as per your requirement */
  font-weight: 300;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.modal_container_dasd {
  //margin-top: 1.5rem;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  //margin-left: 4rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  background-color: rgba(2, 2, 2, 0.87);
  border: 1px solid #181818;
  padding: 3rem 2.5rem;
  padding-top: 2rem !important;
}

.color_gray {
  color: #a0a0a0;
  font-weight: bolder;
  font-size: 0.9rem;
}

.modal_toast {
  background: #68D391;
}

.ytp-chrome-top-buttons {
 display: none;
}